
.app {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.task-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-form input[type="text"],
.task-form textarea,
.task-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.task-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-form button[type="submit"]:hover {
  background-color: #3e8e41;
}


.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}


.task-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.task-item:last-child {
  border-bottom: none;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.task-details h2 {
  margin-top: 0;
}

.task-details p {
  margin-bottom: 10px;
}

.task-details button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px; 
}

.task-details button:hover {
  background-color: #3e8e41;
}


.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.edit-form input[type="text"],
.edit-form textarea,
.edit-form input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.edit-form button[type="button"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-form button[type="button"]:hover {
  background-color: #3e8e41;
}

.button-container {
  display: flex; 
  gap: 10px; 
}